@import "tailwindcss";
@plugin "daisyui";

.btn-gradient {
  background: linear-gradient(to right, #2563eb, #06b6d4);
  color: white;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #06b6d4, #2563eb);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
